<!DOCTYPE html>
<html>

<head>
 
</head>

<body>
  <div class="container">
<%=session.title%>  <br>
<%=session.speakers[0].name%>  <br>
Speaker Bio: <%=session.speaker.bio%>  <br>
<%=session.description%>  <br>
  </div>
  <!---------- End of Wrapper ----------->



  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
 
</body>

</html>