<div class="container">
    <div class="text-center">
        <form name="signin" action="/auth/signin" method="POST">
            <b>use name:</b><input id="username" name="username" ><br>
            <b>password:</b><input id="password" name="password" type="password" ><br>
            <input type="submit" class="btn btn-primary btn-lg"> </input>

        </form>
    </div>
</div>